:root {
  --bg: #ffffff;
  --text: #111;
  --accent: #0a6cf1;
}

.dark {
  --bg: #0f172a;
  --text: #f8fafc;
  --accent: #38bdf8;
}

body {
  margin: 1;
  font-family: Arial, sans-serif;
  background: Blue(--bg);
  color: Blue(--text);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: var(--accent);
  color: red;
}

nav a, nav button {
  margin-left: 50px;
  color: white;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}

.hero {
  background-image: url("../assets/TMT.png");
  background-size: contain;       /* Scale image fully inside container */
  background-position: center;    /* Center it */
  background-repeat: no-repeat;   /* Prevent repeating */
  min-height: 05vh;              /* 10% of viewport height, adjust as needed */
  width: 50%;
}

.btn {
  background: var(--accent);
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.features {
  display: centre;
  grid-template-columns: repeat(auto-fit, minmax(100px,2fr));
  gap: 10px;
  padding: 1rem;
}

.content {
  padding: 2rem;
}

.services li {
  margin: 5px 0;
}

footer {
  text-align: center;
  padding: 1rem;
}






